<% if obj.errors.any? %>              
  <div id="error_explanation">
    <h3><%= pluralize(obj.errors.count, "error") %> prohibited this user from being saved:</h3>
    <p>There were problems with the following fields:</p>
    <ul class="error_message">
    	<% @user.errors.full_messages.each do |msg| %>
      	<li><h4><%= msg %></h4></li>
    	<% end %>
    </ul>
  </div>
<% end %>