<h2>Herzlich Willkommen bei Queject!</h2>

<p>Queject soll eure Projekte mit einer ordentlichen Portion Rollenspiel auflockern und die ganze Truppe in Schwung bringen.</p>
<p>Als Gamemaster können Projektleiter auf die unbändige Macht des Sammelns von Experience Points und Loot zurückgreifen um die Motivation der Teammitglieder auf eine spielerische Art und Weise zu steigern.<br/>
Aus jedem beliebigen Projekt wird mit Queject ein episches Abenteuer und langweilige Tasks entpuppen sich als spannende Quests.</p>
<p>Einfach anmelden, den Beginn einer Geschichte schreiben oder aus vorgefertigten Abenteuern eines wählen und Eure Teammitglieder dazu einladen.</p>
<p>Nach wenigen Schritten können sich die arge Ork Kriegsprogrammiererin und der diebische Designerbogenschütze an ihre ersten Aufgaben machen und dafür Gold, Items und XP Punkte hamstern. Mit jedem abgeschlossenen Task oder Quest nähert sich der nächste Levelaufstieg und damit neue Möglichkeiten.</p>
<p>Wer wird sich als der tapfere Held herausstellen der nach erfolgreichem Projektabschluss mit dem Kopf des erlegten Drachen nach Hause kehrt?</p>

<h3><%= link_to "Zeit es herauszufinden!", signin_path %></h3>


