<h2>Imprint</h2>

<p>Queject was made by students of FH-Salzburg.</p>

<ul>
  <li>Jonathan Riedl (MMA)</li>
  <li><%= link_to "Marcus Kauth (MMT09)", "http://www.kpunktwerk.com/" %></li>
  <li><%= link_to "Francois Weber (MMT09)", "http://www.weberdevelopment.de/" %></li>
</ul>

<p>Contact us: mail@host.tld</p>